<div class="container d-flex justify-content-center">
  <div class="card p-3 shadow-sm rounded w-100 mx-auto" style="max-width: 900px; background-color: white;">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="mb-0 ms-2">Módulos</h4>
      <div class="dropdown">
        <button class="btn btn-light border-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li><%= link_to "Novo Módulo de Tarefas", new_admin_production_module_path(type: 'tasks'), class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>

    <% if @production_modules.any? %>
      <div class="d-flex flex-wrap gap-3">
        <% @production_modules.each do |module_item| %>
          <%= link_to admin_production_module_path(module_item), class: "text-decoration-none", data: { turbo: false } do %>
            <div class="card shadow-sm rounded-3 p-3" style="width: 250px; height: 250px;">
              <div class="d-flex align-items-center mb-3">
                <i class="bi bi-box fs-2 text-success me-2"></i>
                <span class="fw-bold text-dark text-truncate" style="max-width: 180px; font-size: 1.2rem;"><%= module_item.name %></span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex align-items-center">
                  <i class="bi bi-toggle-on fs-5 text-primary me-2"></i>
                  <span class="text-dark"><%= module_item.active ? "Ativo" : "Inativo" %></span>
                </div>
                <div class="d-flex align-items-center">
                  <i class="bi bi-house-door fs-5 text-primary me-2"></i>
                  <span class="text-dark"><%= module_item.properties.count %> Propriedades Associadas</span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="text-center text-muted py-4">
        <p class="fs-5">Nenhum módulo de produção cadastrado</p>
      </div>
    <% end %>
  </div>
</div>
