<%= form_with(model: [:admin, @property], class: "row g-3", data: { turbo: false }) do |form| %>
  <div class="col-12">
    <%= form.label :name, class: "form-label fw-bold" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-12">
    <%= form.label :address, class: "form-label fw-bold" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="col-12">
    <%= form.label :size, class: "form-label fw-bold" %>
    <%= form.text_field :size, class: "form-control" %>
  </div>

  <div class="col-12 d-flex justify-content-between mt-4">
    <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
